<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.ProductMapper">
<select id="searchTopList" resultType="kr.smhrd.entity.Product">
 SELECT
    tb_prod.prod_idx AS prod_idx,
    tb_prod.prod_name AS prod_name,
    tb_prod.prod_desc AS prod_desc,
    tb_prod.prod_type,
    tb_prod.prod_price AS prod_price,
    tb_prod.prod_stock AS prod_stock,
    tb_prod.cust_id AS prod_cust_id,
    tb_prod.created_at AS prod_created_at,
    tb_cust.cust_name,
    tb_cust.cust_nick,
    tb_cust.cust_phone,
    tb_cust.cust_addr,
    tb_review.review_idx,
    tb_review.review_content,
    tb_review.prod_ratings AS prod_ratings,
    tb_review.reviewed_at,
    tb_prod_image.img_name AS img_name
FROM
    tb_prod
JOIN
    tb_cust ON tb_prod.cust_id = tb_cust.cust_id
JOIN
    tb_review ON tb_prod.prod_idx = tb_review.prod_idx
LEFT JOIN
    tb_prod_image ON tb_prod.prod_idx = tb_prod_image.prod_idx
WHERE
    tb_prod.prod_name LIKE CONCAT('%', #{searchInput}, '%')
ORDER BY
    tb_review.prod_ratings DESC;
</select>


<select id="searchNewList" resultType="kr.smhrd.entity.Product">
 SELECT
    tb_prod.prod_idx AS prod_idx,
    tb_prod.prod_name AS prod_name,
    tb_prod.prod_desc AS prod_desc,
    tb_prod.prod_price AS prod_price,
    tb_prod.prod_stock AS prod_stock,
    tb_prod.cust_id AS prod_cust_id,
    tb_prod.created_at AS prod_created_at,
    tb_prod_image.img_name AS img_name
FROM
    tb_prod
LEFT JOIN
    tb_review ON tb_prod.prod_idx = tb_review.prod_idx
LEFT JOIN
    tb_cust ON tb_prod.cust_id = tb_cust.cust_id
LEFT JOIN
    tb_prod_image ON tb_prod.prod_idx = tb_prod_image.prod_idx
WHERE
    tb_prod.prod_name LIKE CONCAT('%', #{searchInput}, '%')
UNION
SELECT
    tb_prod.prod_idx AS prod_idx,
    tb_prod.prod_name AS prod_name,
    tb_prod.prod_desc AS prod_desc,
    tb_prod.prod_price AS prod_price,
    tb_prod.prod_stock AS prod_stock,
    
    tb_prod.cust_id AS prod_cust_id,
    tb_prod.created_at AS prod_created_at,
    tb_prod_image.img_name AS img_name
FROM
    tb_review
RIGHT JOIN
    tb_prod ON tb_review.prod_idx = tb_prod.prod_idx
LEFT JOIN
    tb_cust ON tb_prod.cust_id = tb_cust.cust_id
LEFT JOIN
    tb_prod_image ON tb_prod.prod_idx = tb_prod_image.prod_idx
WHERE
    tb_prod.prod_name LIKE CONCAT('%', #{searchInput}, '%')
ORDER BY
    prod_created_at DESC;

</select>




<insert id="prodRegist" parameterType="kr.smhrd.entity.Product">
 INSERT
   INTO tb_prod (prod_name, prod_desc, prod_type, prod_price, prod_stock, cust_id, created_at)
 VALUES(#{prod_name}, #{prod_desc}, #{prod_type}, #{prod_price}, #{prod_stock}, #{cust_id}, now())
</insert>

<select id="searchIdx" parameterType="kr.smhrd.entity.Product" resultType="kr.smhrd.entity.Product">
select * from tb_prod where cust_id=#{cust_id} order by created_at desc limit 1
</select>

<insert id="insertImage" parameterType="kr.smhrd.entity.Product">
insert into tb_prod_image (prod_idx, img_name, img_real_name, img_ext, img_size)
values(#{prod_idx}, #{img_name}, #{img_real_name}, #{img_ext}, #{img_size})
</insert>


<insert id="addToCart">
insert into tb_myCart (prod_idx, cust_id, cart_in, cart_count, cart_price)
values(#{prod_idx}, #{cust_id}, "O", #{cart_count}, #{prod_price})
</insert>

<select id="selectProdlist" parameterType="String" resultType="kr.smhrd.entity.Product">
SELECT tb_order.*, tb_prod.prod_name AS prod_name, tb_prod_img.img_name AS img_name
FROM tb_order
JOIN tb_prod ON tb_order.prod_idx = tb_prod.prod_idx
LEFT JOIN tb_prod_image tb_prod_img ON tb_prod.prod_idx = tb_prod_img.prod_idx
WHERE tb_order.cust_id = #{cust_id};
</select>

<select id="selectCart" parameterType="kr.smhrd.entity.Cart" resultType="Int">
	select * from tb_myCart where cust_id=#{cust_id} and prod_idx=#{prod_idx}
</select>

</mapper>
